<div class="container mt-5 mb-5">
    <h3 class="animate__animated animate__bounceInLeft text-center">Experiencia</h3>
    <div class="row mt-5">
        <div class="col-md-6 mb-5">
            <img src="../../../assets/img/experiencia/arduino.PNG" class="img-fluid" alt="">
            <p class="text-center"><strong> Sistema de Inscripción para curso de Arduino Galileo. </strong><br> Desarrollado para la Facultad de Estudios Superiores Cuautitlan</p> <br>
            Desarrollado con:<pre>PHP, MYSQL, Bootstrap</pre>
        </div>
        <div class="col-md-6 mb-5">
            <img src="../../../assets/img/experiencia/pesMarioCabral.PNG" class="img-fluid" alt="">
            <p class="text-center"><strong>Pagina web para candidatura a diputado local de Atizapán de Zaragoza</strong> <br> Pagina web con información del ex candidato y sus propuestas</p>
            Desarrollado con:<pre>HTML5, CSS3, Bootstrap</pre>
        </div>
        <hr>
        <div class="col-md-6 mb-5">
            <img src="../../../assets/img/experiencia/triagles-web.PNG" class="img-fluid" alt="">
            <p class="text-center"><strong>Pagina web de la Pasteleria Trigales de Oro</strong> <br>Vista de sus productos y precios</p>
            Desarrollado con:<pre>Angular,Bootstrap, Animate.css</pre>
        </div>
        <div class="col-md-6 mb-5">
            <img src="../../../assets/img/experiencia/trigales.PNG" class="img-fluid" alt="">
            <p class="text-center"><strong>Sistema de ventas para la pasteleria Triagles de Oro</strong> <br>Sistema para venta de producto y generacion de notas en PDF</p>
            Desarrollado con:<pre>PHP, MYSQL, HTML5,CSS y FPDF</pre>
        </div>
        <hr>
       
    </div>    

</div>

