
<div class="container mt-5">
    <h3 class="text-center">Actividades</h3>
    <div class="row mt-5">
        <div class="col-md-4 col-xs-12 mb-3">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/w76govl3QJc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        
        <div class="col-md-4 col-sm-12 mb-3">
            <img src="../../../assets/img/complementos/260203834_616803526079166_3488777124741330781_n.jpg" class="img-fluid" alt="">
        </div>

        <div class="col-md-4 col-sm-12">
            <img src="../../../assets/img/complementos/272884024_341663867822289_2008878274871770014_n.jpg" class="img-fluid" alt="">
            <img src="../../../assets/img/complementos/272264187_314897544004294_6316509938531146905_n.jpg" class="img-fluid mt-3" alt="">
        
        </div>
    </div>
    <h2 class="text-center mt-3">Impresión 3D</h2>

</div>